body {
    /* background-color: #001C41; */
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: hidden;
    /* overflow-x: auto !important; */
}
.wrapper-full {
    max-width: none;
    width: 100%;
    height: auto;
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.sidebar {  
    background-color: #00285d;
    width: 230.8px;
    flex-shrink: 0;
}
.content-main {
    background-color: white;
    flex-grow: 1;
}

.sidebar .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
    .sidebar .logo .wrap-img {
        width: 120px;
        height: 75px;
    }
        .sidebar .logo .wrap-img img{
            width: 100%;
            height: 100%;
        }
        
    .sidebar .menu {
        width: 100%;
        height: auto;
        color: #fff;
        font-size: 2rem;
        padding-top: 15px;
    }
        .sidebar .menu .menu__item {
            width: 100%;
            height: auto;
        }
            .sidebar .menu .menu__item a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px 0px;
                padding-left: 12%;
                text-decoration: none;
                color: inherit;
                transition: background-color .3s linear;
            }
                .sidebar .menu .menu__item a span.item__name {
                    padding-left: 3%;
                }
        
        .sidebar .menu .menu__item:hover a {
            border-left: 4px blue solid;
            padding-left: calc(12% - 4px);
            background-color: #00122a;
        }
    

.content-main .account {
    width: 100%;
    height: 75px;
    padding-right: 2.5%;
    background-color: #011531;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    .content-main .account .avatar {
        --size-avatar: 50px;
        width: var(--size-avatar);
        height: var(--size-avatar);
        border-radius: 50%;
        overflow: hidden;
    }
        .content-main .account .avatar a.link-profile {
            display: block;
            width: 100%;
            height: 100%;
        }
            .content-main .account .avatar a.link-profile img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

    .content-main .account .admin-name span {
        font-size: 1.9rem;
        color: #fff;
        font-weight: 700;
        padding: 0 10px;
    }
    .content-main .account .logout {
        margin-left: 15px !important;
        border: 1px solid transparent;
    }
        .content-main .account .logout a {
            display: block;
            padding: 4px 5px;
        }
            .content-main .account .logout a i {
                font-size: 3rem;
            }
    .content-main .account .logout:hover {
        border: 1px solid red;
    }


.content-main .manage-zone {
    width: 100%;
    height: auto;
    padding-left: 2%;
    padding-right: 1%;
}
    .content-main .manage-zone h1.title {
        padding: 10px 0;
        font-size: 3.1rem;
        font-weight: 700;
        color: #0000ff;
    }
    .content-main .manage-zone .table-manage {
        width: 100%;
    }
        .content-main .manage-zone .table-manage h4.total-record{
            padding: 0 0 17px 0;
            font-size: 1.9rem;
            color: #ff0000;
        }
        .content-main .manage-zone .table-manage .table-container {
            width: 100%;
            overflow: auto;
        }
        table {
            white-space: nowrap;
            margin-top: 20px;
            /* table-layout: fixed; */
            width: auto;
            /* min-width: 944px; */
            /* overflow-x: scroll; */
        }
        thead {
            background-color: #000;
            color: #fff;
        }
        th {
            padding-right: 0.4% !important;
            padding-left: 0.4% !important;
            background-color: #ffff94 !important;
            color: #000;
        }
        td, th {
            border: 1px solid rgb(199, 199, 199);
            vertical-align: middle;
            font-size: 1.7rem !important;
            text-align: center; 
            /* overflow: hidden; */
        }
        td {
            padding: 2px 2px;
            /* word-break: break-all; */
        }
        td.img .wrapper {
            width: 50px;
            height: 50px;
            margin: 0 auto !important;
        }
            td.img .wrapper img {
                width: 100%;
                height: 100%;
            }
                td.ctrl .btn {
                    display: flex;
                    justify-content: center;
                    gap: 7px;
                } 
                    td.ctrl .btn button{
                        flex-shrink: 0;
                        font-size: 1.8rem;
                        padding: 7px;
                        color: #000;
                    }